
:root {
  --primary-color: #7cccc5;  
  --secondary-color: #717932; 
  --background-color: #f7f2e5; 
  --heading-color: #f7ca39; 
}

h1, h2 {
  color: var(--heading-color);
  font-family: 'Iansui', sans-serif;
  margin-bottom: 10px;
}

a {
  color: black;
  text-decoration: none; 
}

a img {
  text-decoration: none;
  border: none; 
  display: inline-block;
}

.hero {
  position: relative;
  width: 100%;
  height: 400px; 
}

.hero img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.hero h1 {
  position: absolute;
  top: 15%; 
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: #717932;
  font-size: 2.5rem; 
  padding: 10px 15px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.hero article {
  position: absolute;
  bottom: 10%;
  left: 5%;
  width: 80%;
  padding: 15px;
  background: #717932;
  color: white;
  border-radius: 8px;
}

.hero article img {
  float: right;
  width: 180px; 
  margin-left: 20px;
  border-radius: 5px;
}

.hero article p {
  font-size: 1.1rem;
  line-height: 1.4;
}

p {
  font-size: 1.2rem;
  line-height: 1;
}

header {
  margin: 1rem auto;
  background-color: #f7ca39;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

header img {
	width: 150px;
  height: auto;
  padding-left: 200px;
}

nav {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	font-family: Iansui, sans-serif;
}

nav li {
	flex: 1 1 auto;
}

nav a {
	display: block;
	color: black;
	padding: 15px;
	text-decoration: none;
	font-size: 1.5rem;
  font-weight: bold;
}

nav a:hover {
	color: tomato;
	font-weight: 700;
}

.history {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  max-width: 900px;
  margin: auto;
  position: relative;
  text-align: center;
}

.history h2 {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  font-size: 2rem;
}

.history img {
  max-width: 300px;
  padding-top: 60px;
  height: auto;
}

.history p {
  flex: 1;
  max-width: 300px;
  font-family: Iansui, sans-serif;
}

.gallery {
  text-align: center;
  width: 100%; 
  margin: auto;
  padding: 20px 0; 
}

.gallery h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: black;
}

.image-container {
  display: flex;
  justify-content: space-around; 
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

.image-container div {
  text-align: center;
  flex: 1; 
  max-width: 200px; 
}

.image-container img {
  width: 100%; 
  max-width: 100%; 
  height: auto;
}

.image-container p {
  margin-top: 5px;
  font-size: 1rem;
  color: #333;
}

footer {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 10px 20px;
  background-color: #f7ca39; 
}

footer p {
  margin: 0;
  font-size: 1rem;
}

.sociallinks {
  display: flex;
  gap: 5px; 
}

.sociallinks a img {
  width: 30px; 
  height: auto;
}